#! /usr/bin/env nix-shell
#! nix-shell -E "with builtins; ((builtins.getFlake or import) (toString ./.)).devShells.${currentSystem}.envrc"
#! nix-shell -i sh
make tangle-python add
nix flake info &> /dev/null && use flake || use nix
